// _variables.sass

/* Colors */
$darkGray: #232828;
$lightGray: #8C8F8F;
$white: #fff;
$black: #000;

/* Color Schemes */
$primaryColor: #232828;

/* Buttons */
$btn-default-bg-color: $primaryColor;
$btn-default-color: $white;

$main-content-wide-max-width: 1600px;
$main-content-max-width: 1024px;

$navbar-max-width: 1170px;
$navbar-bg-color: $primaryColor;
$navbar-color: $white;
